.img-banner{
    width: 435px;
    margin-top: 55px;
    margin-left: -30px;
}

.logo{
    width: 72px;
    padding-bottom: 1px;
}

.text-neon{
    font-weight: 700;
    font-size: 25px;
    color: rgb(255, 31, 31);
    padding-top: 15px;
    padding-left: 20px;
}

.wrap-login200{
    width: 1077px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.img-banner-register{
    width: 500px;
    margin-left: -5px;
}

.redirect-login{
    padding-top: 20px;
}

.register-selected{
    outline: none;
    border: none;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    margin-left: 10px;
}

.wp-header
{
    background-color:rgb(255, 255, 255);
    box-shadow: 1px 2px 3px rgb(255, 31, 31);
}